body {
  max-height: 100%;
  max-width: 100%;
  font-family: TT Norms Pro, sans-serif;
  font-weight: 400;
  background-color: #f7f8fb;
  padding: 0;
  margin: 0;
  display: block;
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
}

*,
:after,
:before,
html {
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
.menu__change {
  /* url(https://kuna.io/static-files/412437ddaaa0dff0757a.svg) */
}
.head {
  background-color: #fff;
  width: 100%;
}
.header {
  font-size: 20px;
  /* background: rgb(255, 255, 255); */
  /* padding: 0px 20px; */
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  height: 84px;
  display: grid;
  -webkit-box-align: center;
  place-items: center stretch;
  /* grid-template-columns: 0.8fr 0.5fr; */
  grid-template-columns: 1.5fr 1fr;
  justify-self: center;
}
.header__left {
  /* display: flex; */
  /* justify-content: center; */
  width: 100%;
}
.header__left a {
  font-size: 24px;
  margin: 0px 0px 0px 20px;
}
.header__logo {
  font-size: 24px;
  font-weight: 800;
}

.hedaer__left-link {
  display: flex;
  align-items: center;
}
.hedaer__left-text {
  font-size: 16px;
  line-height: 20px;
  margin-left: 42px;
  cursor: pointer;
  font-weight: 500;
  color: rgb(0, 0, 0);
  display: flex;
  margin-left: 42px;
  align-items: center;
  width: 100px;
  display: flex;
  justify-content: flex-end;
}
.hedaer__left-text svg {
  margin-left: 10px;
}
.hedaer__left-text1 {
  font-size: 16px;
  line-height: 20px;
  margin-left: 42px;
  cursor: pointer;
  font-weight: 500;
  color: rgb(0, 0, 0);
  display: flex;
  margin-left: 42px;
  align-items: center;
  width: 100px;
  display: flex;
  justify-content: start;
}
.dropdown {
  align-items: flex-start;
  display: flex;
  /* margin-top: -4px; */
  margin: -4px 0 0 7px;
  /* text-align: center; */
}
.lang {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: rgb(0, 0, 0);
  position: relative;
  cursor: pointer;
}
.hedaer__right {
  /* display: grid; */
  /* justify-self: start; */
  /* grid-template-columns: 60px 100px 153px; */
  /* width: 100%; */
  /* padding-right: 20px; */
  /* margin-right: 42px; */
  /* justify-content: space-around; */
  /* align-items: center; */
  /* margin-left: 70px; */
}
.hedaer__right button {
  /* padding: 10px;
  height: 42px;
  background-color: #2e71f0;
  border-radius: 10px;
  color: white;
  border: none;
  font-size: 14px;
  align-items: center;
  width: 160px;
  font-size: 16px;
  font-weight: 500; */
}
.hedaer__right button:hover {
  opacity: 0.9;
  cursor: pointer;
}
.header__language {
  padding: 0px 15px;
}
.header__language a {
  margin-right: 5px;
}
.lang .header__language {
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  /* justify-self: center; */
  /* align-items: center; */
}
.header__language:hover {
  background-color: rgb(245, 247, 248);
  transition: all 0.2s ease-in-out 0s;
  border-radius: 6px;
}
.header__enter {
  color: rgb(46, 113, 240);
  padding: 10px;
  margin: 0px 10px 0px 10px;
  justify-self: center;
  font-size: 16px;
  font-weight: 500;
}
.header__enter:hover {
  background: rgb(231, 239, 255);
  border: 1px solid rgb(231, 239, 255);
  outline: rgb(231, 239, 255);
  color: rgb(46, 113, 240);
  transition: all 0.2s ease-in-out 0s;
  border-radius: 10px;
  cursor: pointer;
}

.header__create {
}
.content__block li {
}
.content {
  color: #ffff;
  background-image: url(img/back.webp);
  background-position: 50% 16%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 665px;
  align-items: flex-start;
  align-content: center;
  max-width: 100%;
}
.content h1 {
  width: 100%;
  margin: 32px 0px;
  font-size: 44px;
}
.content__body {
  /* display: flex;
  height: 100%;
  align-items: center;

  padding: 0px 80px;
  max-width: 100%; */
}
.content__left {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
  /* text-align: left; */
  /* align-items: center; */
  /* height: 480px; */
  /* margin-right: 100px; */
  /* width: 90% !important; */
}
.google1 {
  height: 48px;
  width: 48px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  background: hsla(0, 0%, 100%, 0.1);
  backdrop-filter: blur(4px);
  border-radius: 8px;
  margin: 0 18px 0 0;
  border: hsla(0, 0%, 100%, 0.1);
  cursor: pointer;
}
.google1:hover {
  opacity: 0.8;
  cursor: pointer;
}
.apple {
  height: 48px;
  width: 48px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  background: hsla(0, 0%, 100%, 0.1);
  backdrop-filter: blur(4px);
  border-radius: 8px;
  margin: 0 18px 0 0;
  margin: 0px 20px;
  border: hsla(0, 0%, 100%, 0.1);
}
.apple:hover {
  opacity: 0.8;
  cursor: pointer;
}
.content__left img {
  width: 20px;
  height: 20px;
}
.content__left p {
}
.b1 {
  display: flex;
  justify-content: flex-start;
  max-width: 30%;
  font-size: 14px;
  font-weight: 300;
  padding: 16px 30px;
  line-height: 1;
  min-width: 192px;
  display: flex;
  align-items: center;
  width: 40%;
  border-radius: 4px;
  border: hsla(0, 0%, 100%, 0.1);
  background: hsla(0, 0%, 100%, 0.1);
  backdrop-filter: blur(4px);
  color: #959595;
  height: 48px;
}
.b1 svg {
  margin-right: 13px;
}
.b1:hover {
  opacity: 0.8;
  cursor: pointer;
}
.content__left-down {
  display: flex;
  margin: 40px 0px 0px;
}
.content__right {
}
.right__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 22px;
  margin: 14px 0px 20px 0px;
  background-color: #ffff;
  color: #333;
  display: flex;
  width: 90%;
  height: 44px;
}
.right__title a {
  color: #2e71f0;
  margin: 0px 28px 0px 12px;
  cursor: pointer;
}
.right__title a:hover {
  border-bottom: solid 2px black;
  border-radius: 1px;
  color: black !important;
  font-weight: 700;
  transition: 0.3s;
}
.right__create {
}

.right__enter {
}
.content__right-body {
  color: #333;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  width: 370px;
  border-radius: 7px;
  height: 562px;
  padding: 0px 20px;
}
.content__right-body input {
  width: 100%;
  border: none;
  border: solid 2px grey;
  /* border: solid 2px gray; */
  border-radius: 3px;
  height: 48px;
  margin: 0px;
  padding: 0px;
  border: 1px solid rgb(230, 234, 238);
  padding: 14px 15px 14px 38px;
  margin-bottom: 15px;
  font-family: TT Norms pro, sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* background: url(img/email.svg) no-repeat center left; */
}
.content__right-body input:hover {
  border-color: rgb(46, 113, 240);
}
.col {
  border-color: rgb(46, 113, 240) !important;
}
.content button {
  margin-bottom: 4px;
}
.content__right-body p {
  font-size: 12px;
  line-height: 15px;
  margin: 20px 0px 12px;
}
.header__burger-menu {
  display: none;
}
.enter {
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  position: relative;
  user-select: none;
  transition: all 0.2s ease 0s;
  white-space: nowrap;
  display: block;
  width: 100%;
  background: rgb(46, 113, 240);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(46, 113, 240);
  outline: rgb(46, 113, 240);
  border-radius: 10px;
  font-size: 16px;
  line-height: 18px;
  min-height: 48px;
  padding: 14px;
  min-width: auto !important;
}
.enter1 {
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  position: relative;
  user-select: none;
  transition: all 0.2s ease 0s;
  white-space: nowrap;
  display: block;
  width: 100%;
  background: rgb(46, 113, 240);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(46, 113, 240);
  outline: rgb(46, 113, 240);
  border-radius: 10px;
  font-size: 16px;
  line-height: 18px;
  min-height: 48px;
  padding: 14px;
  width: 25%;
}
.or {
  text-align: center;
  font-size: 12px;
  margin: 8px;
}
.enter__google {
  background: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: rgb(30, 31, 35);
  text-align: center;
  cursor: pointer;
  position: relative;
  user-select: none;
  transition: all 0.2s ease 0s;
  white-space: nowrap;
  border: 1px solid rgb(152, 157, 168);
  border-radius: 10px;
  min-height: 48px;
  padding: 10px 14px;
  display: block;
  width: 100%;
  min-width: auto !important;
  margin-bottom: 8px !important;
}
.email {
  background: url(img/email.svg) no-repeat left;
  background-position-x: 13px;
  background-position-y: 16px;
}
.password {
  background: url(img/pass.svg) no-repeat left;
  background-position-x: 13px;
  background-position-y: 12px;
}
.change__password {
  position: relative !important;
}
.img__hide {
  position: absolute;
  top: 3px;
  right: 10px;
  opacity: 0.5;
}
/* .password ::after {
  } */
/* position: relative; */
/* } */
/* input.icon { */
/* .content__right-body input ::before {
    content: "";
    background-image: url(img/email.svg);
    position: absolute;
  } */
.content__right-body button {
}

.change {
  width: 100%;
  height: 100%;
}
.enter__google img {
  width: 18px;
  height: 18px;
  margin-bottom: 8px;
  vertical-align: middle;
  margin-right: 7px;
}
.enter__apple {
}
.blue {
  color: #2e71f0;
}
.agree__rules {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rules__left {
  width: 85%;
  font-size: 12px;
}
.rules__right {
  width: 38px;
  height: 20px;
  background: rgb(46, 113, 240);
  border-radius: 50px;
  position: relative;
  cursor: pointer;
}
.slider {
  position: absolute;
  right: 1px;
  bottom: 1px;
  width: 18px;
  height: 18px;
  z-index: 1;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s;
}
.money__way {
  display: flex;
  justify-content: center;
  padding: 47px 0px;
  max-width: 100%;
  font-family: TT Norms Pro, sans-serif;
  font-weight: 400;
  background-color: #f7f8fb;
  margin: 0;
  z-index: 1;
  opacity: 0.9;

  /* display: table; */
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
}
.money__way img {
  width: 20px;
  height: 20px;
}
/* .money__body::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
  } */
.money__body {
  font-size: 14px;
  height: 390px;
  display: flex;
  flex-direction: column;
  width: 1000px;
  font-family: TT Norms Pro, sans-serif;
  font-weight: 400;
  background-color: #f7f8fb;
  padding: 0;
  margin: 0;
  border-radius: 7px;
}
.money__body-title {
  display: flex;
  align-items: center;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.money__body-title li {
  margin: 0 30px 0 0;
  display: inline;
  padding: 4px 8px 4px 0;
  cursor: pointer;
  min-width: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #2e71f0;
  vertical-align: bottom;
}
.money__body-title li:hover {
  border-bottom: 2px solid #000 !important;
  transition: 0.3s;
}
.star {
  display: flex;
  padding-left: 10px;
}
.body__menu {
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid rgb(230, 234, 238);
  border-color: rgb(230, 234, 238);
  vertical-align: middle;
  /* border-color: inherit; */
  background: #fff;
  /* border-radius: 7px; */
  border-radius: 7px 7px 0px 0px;
}
.money__content {
  max-height: 464px;
  /* overflow-x: scroll; */
  overflow: auto;
  scroll-snap-type: x proximity;
  /* border: 1px solid rgb(230, 234, 238); */
  background: #fff;
  border-radius: 0px 10px 10px 10px;
  border-spacing: 0;
  vertical-align: middle;
  border-color: inherit;
  box-shadow: 0 20px 50px #ececec;

  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  /* background-color: #F5F5F5; */
}

.money__content::-webkit-scrollbar {
  background-color: #fff;
  width: 4px;
}
.money__content::-webkit-scrollbar-thumb {
  background-color: rgb(250, 214, 230);
  border-radius: 10px;
}
.scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}
.body__menu li {
  /* color: #676793;
  font-size: 13px;
  line-height: 15px;
  text-align: left;
  font-weight: 400;
  position: relative;
  padding: 22px 60px 16px 5px;
  margin-left: 60px; */
}
.body__menu img {
  width: 9px;
  height: 12px;
}

.menu__text {
  color: #676793;
  font-size: 13px;
  line-height: 15px;
  text-align: left;
  font-weight: 400;
  position: relative;
  padding: 22px 60px 16px 5px;
}
.menu__text-1 {
  color: #676793;
  font-size: 13px;
  line-height: 15px;
  text-align: left;
  font-weight: 400;
  position: relative;
  padding: 22px 85px 16px 5px;
}
.menu__text0 {
  color: #676793;
  font-size: 13px;
  line-height: 15px;
  text-align: left;
  font-weight: 400;
  padding: 22px 00px 16px 5px;

  position: relative;
  text-align: center;
  align-items: center;
}
.menu__text img {
  margin-left: 10px;
}
.menu__text1 img {
  margin-left: 10px;
}
.menu__text1 {
  color: #676793;
  font-size: 13px;
  line-height: 15px;
  text-align: left;
  font-weight: 400;
  position: relative;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__text2 {
  color: #676793;
  font-size: 13px;
  line-height: 15px;
  text-align: left;
  font-weight: 400;
  position: relative;
  width: 160px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 55px;
}
.menu__text2 img {
  margin-left: 7px;
}
.menu__change {
}
.main__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 58px;
}
.main__body:hover {
  background-color: #ebf7ff;
  /* background-color: #f5f6f9; */
  /* background-color: #1ff1f0; */
  transition: 0.3s;
  cursor: pointer;
}
.main__body-icon {
  display: flex;
  align-items: center;
  height: 58px;
}
.main__body-icon img {
  margin: 0px 10px 8px;
}
.main__body-icon svg {
  margin-left: 20px;
}
.about__mainbody-down span {
  margin-top: 40px;
  line-height: 19px;
  font-size: 16px;
  color: #2e71f0;
  padding: 4px 7px;
  position: relative;
  border-bottom: 1px dashed #2e71f0;
  width: 270px;
}
.about__mainbody-down p {
  display: none;
  margin-left: 24px;
}
.about__mainbody-down span:hover {
  background-color: rgb(46, 243, 240);
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.about__mainbody-down button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #2e71f0;
  color: #fff;
  font-family: TT Norms Pro, sans-serif;
  font-weight: 500;
  /* font-style: italic; */
  border: none;
  text-align: center;
  margin-right: 10px;
}

.ui {
  text-decoration: none;
  display: block !important;
  text-align: left;
  color: #93a9c3;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  position: relative;
  bottom: 2px;
}
.body__value {
  width: 100%;
  display: flex;
  margin-left: 10px;
}
.body__text {
  display: flex;
  align-items: center;
}
.text__bold {
  display: inline-block;
  text-align: right;
  margin-right: 3px;
  font-size: 15px;
  line-height: 15px;
  color: #0d0d3f;
  font-weight: 600;
  position: relative;
  bottom: 2px;
}
.body__price {
  display: flex;
  flex-direction: column;
  width: 20%;
  width: 110px;
}
.price__text-bold {
  margin-right: 3px;
  color: #0d0d3f;
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  color: #0d0d3f;
  font-weight: 500;
  font-family: TT Norms Pro, sans-serif;
  display: none;
}
.price__text {
  display: flex;
  display: none;
  flex-direction: column;
  /* display: block; */
  font-size: 15px;
  line-height: 17px;
  color: #0d0d3f;
  font-weight: 500;
  margin-top: 2px;
  color: #93a9c3;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
}
.price__text-bold {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.body__change {
}
.change__text {
  height: 34px;
  background-color: #22cf911a;
  color: #22cf91;
  border-radius: 5px;
  opacity: 0.8;
  padding: 10px 10px;
}
.body__hight {
  display: flex;
  flex-direction: column;
  width: 110px;
}
.body__low {
  width: 170px;
  display: flex;
  flex-direction: column;
}
.body__volume {
  padding-right: 55px;
}
.buy {
  display: flex;
  justify-content: center;
  padding: 0px 130px;
}
.buy__value {
  display: flex;
  justify-content: center;
  /* width: 100%; */
  width: 100%;
  max-width: 1500px;
  margin-bottom: 70px;
}
.text__change-content {
  display: none;
}
.buy__value button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.buy__value-title {
  font-weight: bold;
  font-size: 38px;
  margin-top: 60px;
}
.buy__text {
  /* font-weight: normal;
  font-size: 15px;
  line-height: 174%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(3, 3, 3);
  width: 472px;
  margin: 16px 0px 34px; */
}
.li__icon {
  margin: 0 20px 0 0;
}
.buy__value li {
  list-style-type: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: rgb(3, 3, 3);
  margin: 0px 0px;
  padding: 20px 20px 20px 0px;
}
.buy__value-right {
  max-width: 50%;
  height: 90%;
  position: relative;
  /* display: none; */
}
.buy__value-rightimg {
  /* display: none; */
}
.buy__value-rightimg img {
  display: none;
}
.buy__value-right img {
  width: 120%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 115px;
  right: -175px;
  box-shadow: rgb(29 41 63 / 12%) 0px 12px 84px;
  border-radius: 10px;
}
.circle {
  display: block;
  top: 45px;
  right: 10%;
  position: absolute;
  background-color: #ffd159;
  width: 612px;
  height: 612px;
  border-radius: 50%;
  position: relative;
}
.buy__value-down {
  margin-top: 40px;
  display: flex;
  justify-content: start;
  width: 100%;
}
.youtube {
  display: flex;
  justify-content: center;
  border: none;
  margin-left: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(3, 3, 3);
  width: 270px;
  height: 52px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(168 168 168 / 30%) 0px 10px 26px;
  border-radius: 8px;
  font-weight: 300;
  width: 50%;
}
.youtube:hover {
  background-color: #f3f3f3;
}
.youtube svg {
  margin-right: 7px;
}

.content__line {
  display: flex;
  width: 100%;
}
.line__body {
  /* display: flex;
  width: 100%;
  height: 173px !important;
  align-items: center;
  justify-content: center;
  background-color: black;
  margin-top: 140px; */
}
.line__text {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.line__money {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  color: #fff;
}
.line__money-down {
  color: #989da8;
  text-align: center;
}
.cashout {
  /* display: flex;
  justify-content: center; */
}
.cashout h3 {
  /* font-size: 30px;
  text-align: center;
  margin-top: 150px;
  font-family: TT Norms Pro, sans-serif;
  background-color: #f7f8fb; */
}
.content__cashout {
  /* display: flex;
  justify-content: center; */
}
.cashout__body {
  /* display: flex;
  flex-direction: column;
  justify-content: center !important;
  padding: 0px 40px;*/
}
.cashout__maincontent {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px; */
}
.cachout__title {
  display: flex;
  width: 65%;
}
.cashout__link-active {
}
.cashout__link {
  /* display: inline-block;
  list-style: none;
  margin-right: 28px;
  margin-left: 12px;
  padding-top: 22px;
  line-height: 20px;
  font-size: 14px;
  cursor: pointer;
  color: rgb(46, 113, 240);
  border-bottom: none; */
}
.cashout__link:hover {
  /* align-items: center;
  color: #030303 !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  border-bottom: 2px solid #000;
  border-bottom: solid 2px black;
  border-radius: 1px;
  transition: 0.3s; */
}
.main__change {
  /* padding-left: 0px;
  display: grid;
  grid-template-columns: 128px 128px 128px 128px;
  column-gap: 50px;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 30px;
  display: none; */
}
.change__content {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  height: 143px; */
}
.change__content img {
  width: 50px;
  height: 50px;
  padding: 20px;
  display: inline-grid;
  -webkit-box-align: center;
  place-items: center;
  list-style: none;
  cursor: pointer;
  background-color: #fff;
  width: 128px;
  height: 100px;
  text-align: center;
  border-radius: 12px;
}
.change__content div {
  text-align: center;
  margin-top: 15px;
  font-size: 16px;
  line-height: 28px;
  font-weight: bold;
}
.text__change-bold {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 31px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.text__change {
  width: 100%;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
}
.chenge__buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0;
}
.chenge__buttons button {
  width: 300px;
  margin: 10px;
}
.chenge__buttons button:hover {
  opacity: 0.9;
}

.common__button {
}

.cashout__about {
  margin: 140px 0px 170px;
  padding: 0px 40px;
}
.about__mainbody {
  display: flex;
  justify-content: center;
}
.about__mainbody-left {
  height: 100%;
}
.about__mainbody-large {
  font-size: 200px;
  font-weight: 600;
  color: #fff;
  text-shadow: 5px -4px 20px rgb(0 0 0 / 8%);
  line-height: 234px;
  font-family: TT Norms Pro, sans-serif;
  opacity: 0.7;
}
.white__money {
  font-size: 90px;
  font-weight: 600;
  color: #fff;
  text-shadow: 5px -4px 20px rgb(0 0 0 / 8%);
  line-height: 105px;
  text-transform: uppercase;
  max-width: 450px;
  padding-left: 26px;
  opacity: 0.7;
}
.about__mainbody-right {
  padding: 50px 0px 0px 50px;
}
.about__mainbody-right h3 {
  width: 70%;
  margin: 0px;
  padding: 0px;
  font-size: 36px;
}
.about__mainbody-right p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  margin: 10px 0px 0px 0px 14px;
  width: 100%;
  max-width: 400px;
}
.about__mainbody-down {
  margin-top: 26px;
}
.block {
  display: grid;
  position: relative;
  background-color: #121212;
  color: #fff;
  justify-self: center;
  width: 100%;
}
.block img {
  width: 320px;
  height: 430px;
  display: flex;
}
.block h3 {
  height: 100px;
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
  color: #fff;
  margin: 0;
  max-width: 360px;
}
/* .block__body {
  min-width: 100%;
  max-width: 1500px;
  justify-self: center;
  display: grid;
  align-items: end;
  grid-template-columns: 8fr 7fr;
  justify-self: center;
} */
/* .block__body div {
}
.block__body-left {
  display: grid;
  width: 60%;
}
.block__body-left img {
}
.block__body-right {
  display: grid;
  justify-self: start;
  grid-template-rows: 1fr 1fr 1fr 40px;
  align-items: start;
  background-color: #121212;
  color: #fff;
}
.block__body-right p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 0;
  max-width: 400px;
}
.block__bodyright-down {
} */
.google {
}
.apple {
}
.block__program {
  display: grid;
  /* padding: 160px 0px; */
}
.block__progrzm li {
  align-items: center;
}

.block__program-content {
  display: grid;
}
.block__program-content h3 {
  margin: 0px;
  padding: 0px;
  width: 60%;
  font-size: 36px;
  line-height: normal;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding-bottom: 30px;
  width: 100%;
}
.block__program-content img {
  width: 518px;
  height: 450px;
}
.block__program-left {
  display: flex;
  justify-content: flex-end;
}
.block__program-right {
  display: grid;
  align-content: center;
  grid-template-rows: 1fr 0.5fr 0.6fr 1fr 0.5fr;
  margin-left: 20px;
}
.block__program-right button:hover {
  background-color: rgb(46, 243, 240);
  border: none;
  transition: 0.7s;
}
.block__program-right div {
  font-size: 14px;
  line-height: 25px;
  color: rgb(0, 0, 0);
  font-weight: 300;
}
.block__program-right ul {
  display: grid;
  grid-template-columns: 0.3fr 0.3fr;
  height: 40px;
  align-items: center;
  list-style: none;
  margin-right: 28px;
  margin-left: 12px;
  padding-top: 22px;
  line-height: 20px;
  font-size: 14px;
  cursor: pointer;
  color: rgb(46, 113, 240);
  border-bottom: none;
}
.block__program-right button {
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  position: relative;
  user-select: none;
  transition: all 0.2s ease 0s;
  white-space: nowrap;
  background: rgb(255, 255, 255);
  color: rgb(46, 113, 240);
  border: 1px solid rgb(46, 113, 240);
  outline: rgb(255, 255, 255);
  border-radius: 12px;
  font-size: 16px;
  line-height: 18px;
  min-height: 56px;
  min-width: 232px;
  padding: 18px;
  width: 30%;
  height: 60px;
}
.block__program-right li {
  width: 90px;
}
.block__program-right li:hover {
  align-items: center;
  color: #030303 !important;
  font-weight: 800 !important;
  font-size: 16px !important;
  border-bottom: 2px solid #000;
  transition: 0.4s;
}
.li__content-block-none {
  display: none;
}
.bold {
}
.li {
}
.li__content {
  font-weight: 600;
  display: none;
}
.man__conetnt {
  display: grid;
  grid-template-columns: 1fr 7fr;
  justify-self: center;
  max-width: 1500px;
  max-width: 100%;
  background: #000;
  height: 684px;
  z-index: 1;
  position: relative;
}
.man__left-img {
}

.man__border {
  /* position: absolute;
  top: -120px;
  right: 0px;
  width: 100%;
  height: 900px;
  border-top: 145px solid transparent;
  border-bottom: 145px solid transparent;
  border-right: 500px solid #000;
  z-index: -4; */
}
.man__conetnt img {
  /* left: 0 !important;
  width: 1217px;
  height: 684px;
  margin-bottom: -60px;
  margin-left: -350px;
  z-index: 1; */
}
.man__left {
}
.man__left button {
  position: absolute;
  left: 180px;
  bottom: -600px;
}
.man__left-body {
  /* width: 100%;
  display: grid;
  z-index: 3;
  width: 100%;
  max-width: 400px;
  position: relative;
  float: right;
  z-index: 3;
  color: #fff;
  margin-right: 100px; */
}
.button {
  /* font-weight: 600;
  width: 320px;
  font-size: 36px;
  color: #fff; */
}
.man__left-body div {
}
.man__title-down {
  background-color: rgba(88, 80, 250, 0.3);
}
.man__about {
  width: 500px;
  height: 684px;
  display: grid;
  justify-self: end;
  grid-template-rows: 35px 250px 150px 80px;
  justify-self: end;
  width: 100%;
  max-width: 400px;
  position: relative;
  float: right;
  z-index: 3;
  color: #fff;
  margin-right: 5%;
  padding-top: 70px;
  backdrop-filter: blur(7px);
}
.man__about p {
  /* font-size: 16px;
  line-height: 28px;
  margin-top: 32px;
  margin-bottom: 0;
  height: 200px; */
}
.man__about h2 {
  font-size: 36px;
  line-height: 42px;
  font-weight: 600;
  margin: 0;
}
.man__youtube {
  display: grid;
  justify-self: start;
  position: relative;
  border-radius: 15px;
  border: 1px solid transparent;
  border-right: none;
  background: linear-gradient(
    100.41deg,
    rgba(238, 0, 5, 0.25) 3.52%,
    rgba(238, 0, 5, 0)
  );
  color: #fff;
  line-height: 16px;
  font-size: 16px;
  display: block;
  position: relative;
  width: 200px;
  justify-self: start;
}
.man__youtube span {
  position: absolute;
  left: 60px;
}
.man__youtube svg {
  position: absolute;
  top: 15px;
}
.man__youtube:hover {
  border: 1px solid rgb(231, 239, 255);
  transition: all 0.2s ease-in-out 0s;
  border-radius: 10px;
  cursor: pointer;
}
.man__youtube span {
  /* position: absolute;
  top: 35px;
  left: 60px; */
}
.man__youtube svg {
  position: absolute;
  top: 30px;
  left: 14px;
}
.telega {
  /* padding-left: 80px;
  padding-right: 80px;
  padding-top: 50px;
  max-width: 1500px;
  background: #fff; */
}
.telega__body {
  display: grid;
  position: relative;
  /* background: #f7f8fb; */
  background: #fff;
}
.telega__body h2 {
  /* font-size: 36px;
  line-height: 42px;
  font-weight: 600;
  max-width: 335px;
  margin: 0; */
}
.image1 {
  /* height: 400px;
  width: 499px; */
}
.kuna {
  /* width: 836px;
  height: 723px;
  position: relative;
  background: #fff; */
}
.telega__content img {
  /* position: absolute;
  top: -140px;
  right: 9%;
  max-width: 100%;
  width: 836px;
  height: 723px; */
}
.telega__content {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  background: #fff; */
}
.kuna__text {
}
.kuna__text button {
  /* width: 80%;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  position: relative;
  user-select: none;
  transition: all 0.2s ease 0s;
  white-space: nowrap;
  display: block;
  background: rgb(46, 113, 240);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(46, 113, 240);
  outline: rgb(46, 113, 240);
  border-radius: 10px;
  font-size: 16px;
  line-height: 18px;
  min-height: 48px;
  padding: 14px;
  min-width: auto !important; */
}
.kuna__text button:hover {
  /* opacity: 0.9; */
}
.kuna__text p {
  /* margin-top: 32px;
  max-width: 361px;
  font-size: 16px;
  line-height: 28px; */
}
.last__content {
  padding: 0px 80px;
  background: #f7f8fb;
  padding: 0px 0px 52px;
}
.last__content-body {
  display: grid;
  align-items: center;
  justify-self: center;
}
.last__content h1 {
  font-size: 48px;
  line-height: 68px;
  margin: 42px 0 0;
  width: 100%;
  text-align: center;
}
.last__content p {
  text-align: center;
  margin: 35px 0px;
}
.telegram {
  text-align: center;
}
.telegram img {
  appearance: auto;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: #fff;
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-image: initial;
  border-radius: 40%;
  padding: 33px;
}
.telegram img:hover {
  cursor: pointer;
  background: #f1f1db;
}
.telega__link {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #000;
  margin-top: 21px;
  font-weight: 500;
}
.footer {
  /* padding: 0px 60px 30px; */
  display: grid;
}
.footer button {
  background-color: transparent;
  border: none;
  font-size: 12px;
  line-height: 11px;
  cursor: pointer;
  padding: 11px 13px;
  border-radius: 4px;
  position: relative;
  width: 60px;
  outline: 0px;
  height: 36px;
  text-align: left;
  margin-right: 2px;
  position: relative;
}
.apps:before {
}
.footer img {
  width: 86px;
  height: 28px;
}
.footer__body {
  width: 90%;
}
.footer__title {
  width: 95%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 80px;
  border-bottom: solid 3px rgb(230, 234, 238);
  border-radius: 1px;
}
.footer__icon {
}
.all__footer {
}
.footer__text-bold {
}
.footer__text {
  font-size: 12px;
  line-height: 14px;
  color: #676793;
}
.b {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #0d0d3f;
}
.language {
}
.apps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  position: relative;
  position: relative;
  display: grid;
  align-items: center;
  margin-bottom: 25px;
}
.apple__ap {
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  position: relative;
  user-select: none;
  transition: all 0.2s ease 0s;
  white-space: nowrap;
  background: rgb(255, 255, 255);
  color: rgb(46, 113, 240);
  border: 1px solid rgb(46, 113, 240);
  outline: rgb(255, 255, 255);
  border-radius: 4px;
  font-size: 16px;
  line-height: 18px;
  width: 111px;
  height: 28px;
  margin-right: 10px;
  margin-bottom: -30px;
  display: grid;
  align-items: center;
  justify-content: center;
}
.apple__ap1 {
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  position: relative;
  user-select: none;
  transition: all 0.2s ease 0s;
  white-space: nowrap;
  background: rgb(255, 255, 255);
  color: rgb(46, 113, 240);
  border: 1px solid rgb(46, 113, 240);
  outline: rgb(255, 255, 255);
  border-radius: 4px;
  font-size: 16px;
  line-height: 18px;
  width: 111px;
  height: 28px;
  margin-right: 10px;
  margin-bottom: -30px;
  display: grid;
  align-items: center;
  justify-content: center;
}
.footer__info {
  display: grid;
  grid-template-columns: 229px 229px 229px 229px 289px;
  grid-template-rows: 357px;
}
.footer__block h3 {
  margin: 0;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #0d0d3f;
  opacity: 0.7;
}
.footer__block {
  padding: 25px 0px 0px;
}
.footer__block li {
  padding: 0px 0px 8px;
  color: #676793;
  padding: 4px 6px;
  border-radius: 4px;
}
.footer__block a {
  color: #676793;
  padding: 4px 6px;
  border-radius: 4px;
}
.footer__block a:hover {
  background-color: #fff;
  color: #676793;
  background: #efefef;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.footer__block a :hover {
}
/* FOR JavaScript */
.left {
  right: 18px;
  bottom: 1px;
  transition: 0.5s;
}
.color1 {
  background: #ccc;
  transition: 0.4s;
}
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
.price__text-rub {
  display: none;
}
.price__text-btc {
  display: none;
}
.price__text-usds {
  display: none;
}
.actived {
  align-items: center;
  color: #030303 !important;
  font-weight: 800 !important;
  font-size: 16px !important;
  border-bottom: 2px solid #000;
}
.none {
  display: none;
}
.weiw {
  display: block;
}
.active {
  display: block;
}
.activ {
  border-bottom: solid 2px black;
  border-radius: 1px;
  color: black !important;
  font-weight: 700;
}
.hide {
  display: none;
}
.block {
  display: block;
}
.apps img {
  position: absolute;
  left: -80px;
  top: 10px;
  width: 70px;
  height: 70px;
  top: -20px;
  background-color: transparent;
  border: transparent;
  background-position: center;
  padding: 0px;
  margin: 0px;
}
*/ .iphone {
  display: none;
  position: absolute;
  top: -10px;
  left: -80px;
  top: -30px;
  background: url(img/iph.svg);
}
.galaxy {
  display: none;
  position: absolute;
  left: -80px;
  top: -30px;
  width: 50px;
  height: 50px;
  background: url(img/phone.svg);
}
.xyita {
  display: block;
}
.act {
  align-items: center;
  color: #030303 !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  border-bottom: 2px solid #000;
}
.yet {
  display: block;
  padding-left: 0px;
  display: grid;
  grid-template-columns: 128px 128px 128px 128px;
  column-gap: 50px;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 30px;
}
.footer__title button:hover {
  background-color: rgb(255, 237, 255);
  transition: all 0.2s ease-in-out 0s;
  border-radius: 6px;
}
.change {
  align-items: center;
  color: #030303 !important;
  font-weight: 800 !important;
  font-size: 16px !important;
  border-bottom: 2px solid #000;
  transition: 0.4s;
}
.ui {
  display: block;
}
.est {
  padding: 0 0 0 30px;
  display: block !important;
}
.net {
  display: block !important;
}
.text {
  display: none;
}
.visible {
  display: block;
}
.click {
  display: inline-grid;
  -webkit-box-align: center;
  place-items: center;
  list-style: none;
  cursor: pointer;
  border: 2px solid rgb(87, 102, 236);
  width: 128px;
  height: 100px;
  text-align: center;
  border-radius: 12px;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 30px;
}
.hight {
  height: 465px !important;
  margin: -17px 0 0 0 !important;
}
